header.main {
  padding-top: 120px;
  height: 520px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #d6c4a0;
  background-image: url("https://www.transparenttextures.com/patterns/checkered-light-emboss.png");
  /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}