nav {
  height: 120px;
  width: 100%;
  background-color: #809bce;
  color: #FFFFFF;
  display:flex;
  padding: 1.5em;
  justify-content: space-between;
  align-items: center;
  position: fixed;
}

h1.logo{
  font-family: 'Bungee', cursive;
  text-shadow: 0 1px 0 #ccc, 0 2px 0 #ccc, 0 3px 0 #ccc, 0 4px 0 #ccc, 0 5px 0 transparent, 0 6px 0 transparent, 0 7px 0 transparent, 0 8px 0 transparent, 0 9px 0 transparent, 0 10px 10px rgba(0, 0, 0, 0.4);
}

div.newTweet{
  display: flex;
  flex-direction: column;
  align-items: center;
}

i.fa-angles-down {
  animation: bounce 0.3s infinite;
}

a.navTweet {
  text-decoration: none;
  color: #FFFFFF;
  font-size:20px;
}

a.navTweet:hover {
  font-weight: bold;
}

a.next {
  text-decoration: none;
  color: #FFFFFF;
}

@keyframes bounce {
  100% {
    top: -20px;
    text-shadow: 0 1px 0 #ccc, 0 2px 0 #ccc, 0 3px 0 #ccc, 0 4px 0 #ccc, 0 5px 0 transparent, 0 6px 0 transparent, 0 7px 0 transparent, 0 8px 0 transparent, 0 9px 0 transparent, 0 10px 10px rgba(0, 0, 0, 0.4);
    animation: bounce 0.3s infinite;
  }
}

@media only screen and (min-width: 768px) {
  nav {
    background-color: #738cb9;
  }
}

@media (max-width:490px){
  nav {
    display:flex;
    flex-direction: column;
  }

  h1.logo{
    font-size: 30px;
  }

  div.newTweet{
    visibility: hidden;
  }
} 