nav {
  height: 120px;
  width: 100%;
  background-color: #4056A1;
  color: #FFFFFF;
  display:flex;
  padding: 1.5em;
  justify-content: space-between;
  align-items: center;
  position: fixed;
}

.logo{
  font-family: 'Bungee', cursive;
}

.newTweet{
  display: flex;
  flex-direction: column;
  align-items: center;
}
