section.new-tweet {
  padding-bottom: 50px;
}

label.tweetHeader {
  font-weight: bold;
}

textarea#tweet-text {
  resize: none;
  outline: none;
  border-width: 0 0 4px;
  background-color: transparent;
  width: 100%;
  height: 40px;
  font-size: 20px;
}

div.submit-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Bungee', cursive;
}

div.errorMessage {
  font: 15px bold;
  margin-bottom: 5px;
  color:#e1443d;
  visibility: hidden;
}

button.tweet-btn {
  color: white;
  background-color: #4056A1;
  border: none;
}

button.tweet-btn:hover {
  color: white;
  background-color: #2b47a3;
  border: none;
}

output.counter {
  color:#545149;
}

output.counterRed {
  color:#e1443d;
}
